{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Redigera Fordonstyp
{% endblock title %}

{% block content %}
<div class="container">
    <h3>Redigera Fordonstyp: {{cartype.car_type_name}} </h3>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" class="my-4">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-success" type="submit">
                    Uppdatera Bil
                </button>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}
